body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #33ccff, #ff99cc);
}

button {
        border-block-color: blue;
        border-radius: 30px;
        width: 108px;
        height: 59px;
        
       
    }
button:hover{
        background-color: black;
        color: white;


    }

.dashboard {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logoutButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#logoutButton:hover {
    background-color: #cc0000;
}
